##################################################
#### List of Needed External Tools / Libraries
##################################################

# Needed for Pandas
fsspec

# Excel (.xlsx)
openpyxl

# Excel (.xls)
xlrd